@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');

body {
	margin: 0px;
	background-color: #242424;
}

* {
	font-family: 'Rubik', sans-serif;
	color: #dddddd;
	box-sizing: border-box;
}

.router-link {
	text-decoration: none;
}

/* NAVBAR */
nav {
	width: 100%;
	height: 7vh;
	background-color: #1b1b1b;
	padding: 0.5em;

	display: flex;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.logo img {
	width: 3em;
}

.logo p {
	font-size: 2rem;
	margin: 0px;
	font-weight: 700;
}

.login-signup {
	display: flex;
	height: 100%;
	gap: 1em;
	align-items: center;
}

.nav-btn {
	height: 75%;
	border: none;
	border-radius: 1em;
	padding: 0em 1.5em;
	font-size: 1rem;
}

.nav-btn p {
	margin: 0px;
}

.signup {
	background-color: #2564c4;
	border: 2px solid #1b1b1b;
}

.signup:hover {
	border: 2px solid #2564c4;
	background-color: #1b1b1b;
}

.login {
	border: 2px solid #2564c4;
	background-color: #1b1b1b;
}

.login:hover {
	border: 2px solid #1b1b1b;
	background-color: #2564c4;
}

/* ALL CONT */
.all-cont {
	height: 93vh;
	display: grid;
	place-items: center;
}

/* COMPLEX */

h1 {
	margin: 0px;
}

.complex-ui-cont {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.complex {
	display: flex;
	flex-direction: column;
	gap: 1em;
	background-color: #2c2c2c;
	padding: 1em;
	text-align: center;
}

.parking-spots-cont {
	display: flex;
	gap: 0.5em;
}

.parking-spot {
	width: 10em;
	height: 15em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4em;
	color: #dddddd;
}

.parking-spot.free {
	background-color: #194e14;
}

.parking-spot.taken-nfu {
	background-color: #4e1414;
}

.parking-spot-props {
	margin: 0px;
}

.parking-spot-number {
	font-size: 2rem;
}

.parking-spot-status {
	font-size: 1.5rem;
}

/* SIGN UP */

.form-cont {
	display: flex;
	flex-direction: column;
	gap: 2em;
	background-color: #2c2c2c;
	padding: 3em;
	text-align: center;
}

.form-cont h1 {
	font-size: 3rem;
	margin: 0px;
	color: white;
}

.input-cont {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.3em;
}

.input-cont p {
	color: #ff7878;
	margin: 0px;
}

input {
	padding: 0.3em;
	font-size: 2rem;
	border: none;
	color: #1b1b1b;
}

input:focus {
	outline: none;
	background-color: #afafaf;
}

button[type='submit'] {
	padding: 0.3em;
	font-size: 2rem;
	border: none;
	color: #ffffff;
	background-color: #2564c4;
	border: 2px solid #2c2c2c;
}

button[type='submit']:hover {
	background-color: #2c2c2c;
	border: 2px solid #2564c4;
}
